 h1{
            text-align: center;
            color: navy;
            font-family: bold;
            font-size: 40px;
        }
        #outer-div{
            border: 4px solid black;
            margin: 50px;
            height: 450px;
            width: 1400px;
            margin-left: 50px;
        }

        #circle{
            height: 200px;
            width: 200px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            left: 65px;
            margin-top: 110px;
            border: 5px solid black;
        }

        .stick{
            height: 6px;
            width:50px;
            background: black;
            float: right;
            margin-top: 200px;
            border-right: 110px;
            position: relative;
            right: 50px;
        }

        .arrow{
            height: 0px;
            width: 0px;
            border-top: 15px solid transparent;
            border-right: 25px solid black ;
            border-bottom: 15px solid transparent;
            float: right;
            margin-top: 188px;
            margin-right: 50px;
            position: relative;
        }

        .button{
            float:right;
            position: relative;
            right: 80px;
            margin-top: 550px;
            font-size: 10px;
            padding: 15px 32px;
  
        }
        